html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  overflow:hidden;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#cmdWindow {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: black;
  color: white;
  font-family: "Courier New", "Courier", monospace;
  margin: auto;
  text-indent: 15px;
  overflow-y:auto;
}

body{
  height:100%;
}
#stats {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-family: "Courier New", "Courier", monospace;
  margin: auto;
  padding-top:15px;
}

#input {
  width: 100%;
  height: 50px;
  border: 0px;
  border-top: 1px solid white;
  background-color: black;
  color: white;
  font-family: "Courier New", "Courier", monospace;
  text-indent: 15px;
  display: block;
  margin: auto;
  font-size:20px;
}
/*Extra colorschemes here*/
/*
Example:
.coral #cmdWindow,
.coral #stats,
.coral #input {background-color: #042029;} Back color

.coral .accent,
.coral #cmdWindow,
.coral #stats {color: #268BD2;} Text color
.coral #input {color: #859900;} Accent color
.coral #input {border-top-color: #859900;} Accent color for border top.
*/

/*Coral*/
.coral #cmdWindow,
.coral #stats,
.coral #input {background-color: #042029;}
.coral #cmdWindow,
.coral #stats {color: #268BD2;}
.coral .accent,
.coral #input {color: #859900;}
.coral #input {border-top-color: #859900;}

/*Naked*/
.naked #cmdWindow,
.naked #stats,
.naked #input {background-color: #b3c2bf;}
.naked #cmdWindow,
.naked #stats {color: #3b3a36;}
.naked .accent,
.naked #input {color: #27588F;}
.naked #input {border-top-color: #27588F;}

/*Ocean*/
.ocean #cmdWindow,
.ocean #stats,
.ocean #input {background-color: #89bdd3;}
.ocean #cmdWindow,
.ocean #stats {color: white;}
.ocean .accent,
.ocean #input {color: #105BAD;}
.ocean #input {border-top-color: #105BAD;}

/*Hacker*/
.hacker #cmdWindow,
.hacker #stats,
.hacker #input {background-color: black;}
.hacker #cmdWindow,
.hacker #stats {color: #82B600;}
.hacker .accent,
.hacker #input {color: #887F32;}
.hacker #input {border-top-color: #887F32;}

/*Fire*/
.fire #cmdWindow,
.fire #stats,
.fire #input {background-color: #e62739;}
.fire #cmdWindow,
.fire #stats {color: white;}
.fire .accent,
.fire #input {color: yellow;}
.fire #input {border-top-color: yellow;}

/*Mint*/
.mint #cmdWindow,
.mint #stats,
.mint #input {background-color: #3F4531;}
.mint #cmdWindow,
.mint #stats {color: #91F9E5;}
.mint .accent,
.mint #input {color: #7CFFA6;}
.mint #input {border-top-color: #7CFFA6;}

/*Invert*/
.invert #cmdWindow,
.invert #stats,
.invert #input {background-color: white;}
.invert #cmdWindow,
.invert #stats {color: black;}
.invert .accent,
.invert #input {color: black;}
.invert #input {border-top-color: black;}

/*Default*/
.default #cmdWindow,
.default #stats,
.default #input {background-color: black;}
.default #cmdWindow,
.default #stats {color: white;}
.default .accent,
.default #input {color: white;}
.default #input {border-top-color: white;}

input:focus,
select:focus,
textarea:focus,

button:focus {
  outline: none;
}
#dataCount, #moneyCount, #capac{
  display:inline;
}
#version {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  font-family: "Courier New", "Courier", monospace;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #313131;
}
::-webkit-scrollbar-track:active {
  background: #4a4a4a;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
